<header class="startup text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <p1 id="title">
                    Admin Page
                </p1>
                <!-- Find a rental address -->
                <form id="blog-form">

                    <label for="header-input">Blog Header</label>
                    <input type="text" id="header-input" name="header" required>
                    <br>
                    <label for="title-input">Blog Title</label>
                    <input type="text" id="title-input" name="title">
                    <br>
                    <label for="content-input">Message</label>
                    <textarea class="form-control" rows="3" id="content-input"></textarea>
                    <br>
                    <input id="postBlog" type="submit" value="Post">
                    <br>
                </form>
                <br>
                <br>

                <h4>Created Blogs</h4>
                <br>
                <div id="blog-area">
                    <table boarder=1 frame=void rules=rows style="width: 100%">
                        <tr>
                            <th>Header</th>
                            <th>Title</th>
                            <th>Date Created</th>
                            <th>Message</th>
                        </tr>
                        {{#each blogs}}
                            <tr>
                                <td>{{this.title_header}}</td>
                                <td>{{this.title_descrip}}</td>
                                <td>{{this.created_at}}</td>
                                <td>{{this.blog_content}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>

            </div>


        </div>
    </div>
    </div>

</header>


<script type="text/javascript">

// When user chirps (clicks addBtn)
    $("#blog-form").on("submit", function(event) {
        event.preventDefault();

        var head = $("#header-input").val().trim();
        var title = $("#title-input").val().trim();
        var created = moment().format("MMMM DD, YYYY");
        var content = $("#content-input").val().trim();

        //Make new blog object

        var newBlog = {
            header: head,
            title: title,
            created_at: created,
            cont: content
        };


        // Send an AJAX POST-request with jQuery
        $.post("/admin/newblog", newBlog)
        // On success, run the following code
                .then(function() {


                    //var row = $("<div>");
                    //row.addClass("blog");

                    //row.append("<p>" + newBlog.header + " </p>");
                    //row.append("<p>" + newBlog.title + "</p>");
                    //row.append("<p>" + newBlog.created_at + "</p>");
                    //row.append("<p>" + newBlog.cont + "</p>");

                    //$("#blog-area").prepend(row);

                    location.reload();

                });



        // Empty each input box by replacing the value with an empty string
        $("#header-input").val("");
        $("#title-input").val("");
        $("#content-input").val("");

    });


</script>
