<header class="startup text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <p1 id="title">
                    Listings
                </p1>

                <div>
                <!-- Find a rental address -->
                {{!-- //action="/testRoute" method="POST" --}}
                    <form id="property-form">
                        <label for="property-input">City</label>
                        <input type="text" id="city-input" name="city">
                        <br>
                        <label for="property-input">State</label>
                        <input type="text" id="state-input" name="state">
                        <br>
                        <label for="property-input">Zip Code</label>
                        <input type="text" id="zip-input" name="zipcode">
                        <br>
                        <input id="find-property" type="submit" value="Property Search">
                    </form>


                </div>

                <div id="property-view">

                </div>

            </div>


        </div>
    </div>
    </div>

</header>

<script type="text/javascript">

    // When user chirps (clicks addBtn)
    $("#property-form").on("submit", function (event) {
        event.preventDefault();

        var city = $("#city-input").val().trim();
        var state = $("#state-input").val().trim();
        var zipcode = $("#zip-input").val().trim();

        //Make new blog object

        var searchQuery = {
            city: city,
            state: state,
            zipcode: zipcode
        };


        // Send an AJAX POST-request with jQuery

        $.ajax({
            type: "POST",
            data: searchQuery,
            url: "/listings/query"
        }).then(function (res) {
            console.log(res);

            console.log(res[0].address);
            console.log(res[0].Taxes);
            console.log(res[0].marketValue);
            console.log(res[0].yearBuilt);


            for (var i = 0; i < res.length; i++){
                var row = $("<div>");
                row.addClass("home_listings");
                row.append("<hr>");
                row.append("<h4>" + res[i].address + "</h4>");
                row.append("<p>Market Value: " + res[i].marketValue + "</p>");
                row.append("<p>Taxes: " + res[i].Taxes + "</p>");
                row.append("<p>Year Built: " + res[i].yearBuilt + "</p>");
                $("#property-view").prepend(row);
            }


        });



        // Empty each input box by replacing the value with an empty string
        $("#city-input").val("");
        $("#state-input").val("");
        $("#zip-input").val("");

    });


</script>
